<header class='explorer__header'>
  <div class='container-fluid'>
    <div class='row margin-top-10'>
      <div class='col md-12'>
        <h1>GraphQL Ruby Demo<h1>
      </div>
    </div>
  </div>
</header>


<div class='container-fluid'>
  <%= react_component("Client", endpoint: queries_path, queryGroups: QuerySet.new.as_json) %>
</div>
