/*
 *= require ./codemirror
 *= require ./solarized-theme
 *= require_self
*/
@import 'skyblue';

.explorer__header {
  background-color: #333;
  color: #f0f0f0;

  h1 {
    font-size: 1.5em;
  }
}

.CodeMirror-scroll {
  padding-bottom: 0px !important;
}

.container-fluid {
  margin: 0px 20px;
  &:before, &:after {
    content: " ";
    display: table;
    line-height: 0; }
  &:after {
    clear: both; }
}

